/* Home CSS 
============*/
#sly-carousel-warp {
position: relative;
max-height: 500px;
overflow: hidden;
}
ul.horizontal-menus li a {
color: #fff;
}
#sly-carousel h2 {
display: none;
}
.sly-crousel .item {
position: relative;
max-width: 500px;
overflow: hidden;
}
.sly-crosel-warp {
position: absolute;
bottom: 0;
width: 100%;
  padding-top: 35px;
  padding-bottom: 15px;
  padding-left: 5%;
background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.7));
background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.7));
background-image: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
background-image: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=&#39;#00000000&#39;, endColorstr=&#39;#b3000000&#39;, GradientType=0);
}
.label-link-top {
  position: relative;
  margin-bottom: 5%;
  float: left;
  z-index: 1000;
}
.sly-crosel-warp h3 {
  padding-bottom: 0;
  line-height: .8;
}
.sly-crosel-warp h3 a {
  position: relative;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.sly-crosel-warp h3 a:before {
  content: &quot;///&quot;;
  color: #FFF;
  margin-right: 2%;
  margin-left: 10px;
}
.label-link-top a {
  text-transform: uppercase;
  font-weight: 600;
  color: #F00;
}
.sly-crosel-warp a:hover {
  opacity: .6;
}
.crousel-thumbnail img {
cursor: move;
height: auto;
width: 100%;
}

/*Crousel Thumbnail End*/

#sly-carousel li {
  padding: 0;
}

#header-gadgets {
width: 1100px;
}
#header-inner .titlewrapper .title {
line-height: 1.2;
}
.main-menu-wrapper {
position: absolute;
top: 0;
width: 100%;
}
.show .main-menu-wrapper {
z-index: 1000;
}
#topmenu ul.nav.navbar-nav.nav-list {
display: none;
}
.shrink .nav.navbar-nav.nav-list {
display: block !important;
}
#nav_down {
font-size: 40px;
margin: 0 auto;
display: block;
width: 35px;
cursor: pointer;
opacity: .5;
line-height: 0;
transition: 0.25s;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
}
#nav_down .pe-7s-angle-down {
border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
background: #CAD2D3;
color: #fff;
}
#nav_down:hover {
opacity: 1;
transition: 0.25s;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
}
#nav_down .pe-7s-angle-down-circle:before {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-weight: normal;
-webkit-transform: translate(0, 0);
text-rendering: auto;
position: relative;
}
#nav_down .pe-7s-angle-down-circle:hover {
-webkit-transform: translate(0, 0);
text-rendering: auto;
position: relative;
font-weight: normal;
}

/* Main Linklist Menu 
---------------------*/
.show .LinkList ul {
width: 100%;
display: block;
margin-left: 27%;
margin-top: 50px;
}

/*Label Menu*/
#label-link1 {
width: 100px;
position: relative;
margin: -45px 0 0 0;
float: left;
}
#label-link1 ul {
margin:0;
padding:0;
list-style:none;
position:relative;
right: 7%;
}
#label-link1 ul li {
margin:0 0 0 1px;
padding:0;
float:left;
position:relative;
}
#label-link1 ul li .pe-7s-keypad {
font-size: 1.6em !important;
color: #AEBABB;
}
#label-link1 ul li a {
display:block;
margin:0;
padding:.6em .5em .4em;
line-height:1em;
text-decoration:none;
font-weight:bold;
}
#label-link1 ul li.active a {
color:#fff;
background:#000;
}

#label-link1 ul ul {
opacity: 0;
height: 0;
position:absolute;
z-index: -1000;
top:2em;
right:auto;
width:10em;
box-shadow: 0 1px 3px #EEE;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
padding: 7px 10px 10px 10px;
width: 125px;
background: #FFF;
}
#label-link1 ul ul li {
left:auto;
margin:0;
clear:left;
width:100%;
}
#label-link1 ul ul li a,
#label-link1 ul li.active li a,
#label-link1 ul li:hover ul li a,
#label-link1 ul li.hover ul li a {
font-size: 1em;
font-weight:normal;
background:#fff;
line-height: 1.3em;
text-transform: capitalize;
}
#label-link1 ul ul li span {
display: none;
}
#label-link1 ul ul.last {
left:auto;
right:0;
}
#label-link1 ul li:hover ul,
#label-link1 ul li.hover ul {
opacity: 1;
z-index: 1000;
height: auto;
display: block;
-webkit-animation: zoomIn 500ms;
-moz-animation: zoomIn 500ms;
-ms-animation: zoomIn 500ms;
-o-animation: zoomIn 500ms;
animation: zoomIn 500ms;
transition: 0.25s;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
}

#label-widget1 .label-page {
display: block;
float: right;
text-align: right;
margin-top: -25px;
margin-bottom: 35px;
margin-right: 5px;
line-height: 0;
}
#label-widget1 .label-page a:after {
content: &quot;+&quot;;
font-family: Arial, sans-serif;
font-size: 29px;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color: #AEBABB;
}
#label-widget1 .label-page .label-name a {
color: #fff;
color: transparent;
position: relative;
z-index: 2000;
}
#label-widget1 .label-page .label-name a:hover {
opacity: .7;
transition: 0.25s;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
}
.main-menu-wrapper {
max-width: 100%;
margin-top: 0 !important;
}
#header-inner:before {
content: &quot;&quot;;
position: absolute;
top: 53.7%;
left: 0;
height: 50%;
width: 51%;
background: #fff;
-webkit-transform: skew(0deg, 6deg);
-moz-transform: skew(0deg, 6deg);
-ms-transform: skew(0deg, 6deg);
-o-transform: skew(0deg, 6deg);
transform: skew(0deg, 6deg);
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.06);
}

#header-inner:after {
content: &#39;&#39;;
position: absolute;
top: 53.7%;
right: 0;
height: 50%;
width: 50%;
background: #fff;
-webkit-transform: skew(0deg, -6deg);
-moz-transform: skew(0deg, -6deg);
-ms-transform: skew(0deg, -6deg);
-o-transform: skew(0deg, -6deg);
transform: skew(0deg, -6deg);
box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.04);
-webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.04);
-moz-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.04);
}
.headers.owl-crousel #header-inner:before,
.headers.owl-crousel #header-inner:after {
opacity: .0 !important;
transition: opacity .35s ease-in-out;
-moz-transition: opacity .35s ease-in-out;
-webkit-transition: opacity .35s ease-in-out;
-o-transition: opacity .35s ease-in-out;
}

.headers.owl-crousel #header-inner {
padding-top: 25px;
width: 100% !important;
background: none !important;
box-shadow: none !important;
-webkit-box-shadow: none !important;
-moz-box-shadow: none !important;
}
.headers.owl-crousel .shrink #header-inner {
padding-top: 0 !important;
}
#top-modal .second {
line-height: normal;
text-shadow: none;
}
#top-modal .second:hover {
color: #FFF;
}
#header-wrapper {
background: #fff !important;
position: relative;
}
.navbar-default .navbar-nav &gt; li &gt; a {
    color: #fff;}

  .navbar-default .navbar-nav &gt; li &gt; a:hover, .navbar-default .navbar-nav &gt; li &gt; a:focus {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25); }

 .shrink .navbar-default .navbar-nav &gt; li &gt; a:hover {
	text-shadow: none !important; }

.navbar-collapse {
padding-right: 0 !important;
}

#mega-menu .container {
padding-left: 0 !important;
}

/*Scroller Widget*/
#label-widget1-2 {
width: 960px;
margin: 0 auto;
position: relative;
z-index: 2000;
}

/* Carousel */
#sly-carousel .owl-controls {
display: none !important;
}
#owl-demo .item img{
display: block;
width: 100%;
height: auto;
}
.owl-carousel{
display: none;
position: relative;
width: 100%;
-ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
display: none;
position: relative;
-webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper.grabbing {
cursor: -webkit-grabbing;
}
.owl-carousel .owl-wrapper-outer{
overflow: hidden;
position: relative;
width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
-webkit-transition: height 500ms ease-in-out;
-moz-transition: height 500ms ease-in-out;
-ms-transition: height 500ms ease-in-out;
-o-transition: height 500ms ease-in-out;
transition: height 500ms ease-in-out;
}
	
.owl-carousel .owl-item{
float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
cursor: pointer;
}
.owl-controls {
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.bottom-widget .owl-buttons,
.crousel-2 .owl-buttons {
display: none;
}

/* Mouse grab icon 
- - - - - - - - - */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix
- - - */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
-webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* Styling Next and Prev buttons 
- - - - - - - - - - - - - - - - */
.owl-theme .owl-controls .owl-buttons div{
color: #FFF;
zoom: 1;
display: inline; /*IE7 life-saver */
padding: 8px 10px;
font-size: 11px;
text-transform: uppercase;
}
.owl-prev {
border-right: 1px solid rgba(255, 255, 255, 0.2);
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */

.owl-theme .owl-controls.clickable .owl-buttons div:hover{
filter: Alpha(Opacity=100);/*IE7 fix*/
opacity: 1;
text-decoration: none;
}

/* Styling Pagination
- - - - - - - - - - - */
.owl-theme .owl-controls .owl-page{
display: inline-block;
zoom: 1;
*display: inline; /*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
display: block;
width: 8px;
height: 8px;
margin: 5px;
filter: Alpha(Opacity=50);/*IE7 fix*/
opacity: 0.5;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
border-radius: 20px;
background: #bbb;
}
.crousel-2 .owl-controls .owl-page.active span {
width: 10px;
height: 10px;
margin-bottom: 4px;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
filter: Alpha(Opacity=100);/*IE7 fix*/
opacity: 1;
}

/* If PaginationNumbers is true
- - - - - - - - - - - - - - - - */
.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* Preloading images 
- - - - - - - - - - - */
.owl-item.loading{
min-height: 125px;
background: url(//1.bp.blogspot.com/-nfXo9GWbDtM/VOn0vr4yLMI/AAAAAAAABCA/dDNgd7_QCFo/s1600/block-loader.gif) no-repeat center center;
}

/* Owl Carousel CSS3 Transitions 
 *  v1.3.2 */

.owl-origin {
-webkit-perspective: 1200px;
-webkit-perspective-origin-x : 50%;
-webkit-perspective-origin-y : 50%;
-moz-perspective : 1200px;
-moz-perspective-origin-x : 50%;
-moz-perspective-origin-y : 50%;
perspective : 1200px;
}
/* fade
- - - - */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut .7s both ease;
  -moz-animation: fadeOut .7s both ease;
  animation: fadeOut .7s both ease;
}
.owl-fade-in {
  -webkit-animation: fadeIn .7s both ease;
  -moz-animation: fadeIn .7s both ease;
  animation: fadeIn .7s both ease;
}

/* Owl Keyframes 
- - - - - - - - */
@-webkit-keyframes empty {
  0% {opacity: 1}
}
@-moz-keyframes empty {
  0% {opacity: 1}
}
@keyframes empty {
  0% {opacity: 1}
}
@-webkit-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@keyframes fadeIn {
  0% { opacity:0; }
  100% { opacity:1; }
}
@-webkit-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-moz-keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@keyframes fadeOut {
  0% { opacity:1; }
  100% { opacity:0; }
}
@-webkit-keyframes scaleToFade {
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@-moz-keyframes scaleToFade {
  to { opacity: 0; -moz-transform: scale(.8); }
}
@keyframes scaleToFade {
  to { opacity: 0; transform: scale(.8); }
}

/* Mask */
.sly-author-mask:before {
content: &quot;\e605&quot;;
font-family: Pe-icon-7-stroke;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-weight: normal;
font-size: 1.4em;
vertical-align: sub;
margin-right: 4px;
color: #999;
}

.view-first img {
  height: auto;
   -webkit-transition: all 0.2s linear;
   -moz-transition: all 0.2s linear;
   -o-transition: all 0.2s linear;
   -ms-transition: all 0.2s linear;
   transition: all 0.2s linear;
}
.view-first .mask {
   -ms-filter: &quot;progid: DXImageTransform.Microsoft.Alpha(Opacity=0)&quot;;
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.4s ease-in-out;
   -moz-transition: all 0.4s ease-in-out;
   -o-transition: all 0.4s ease-in-out;
   -ms-transition: all 0.4s ease-in-out;
   transition: all 0.4s ease-in-out;
}
.view-first h3 {
   -webkit-transform: translateY(-150px);
   -moz-transform: translateY(-150px);
   -o-transform: translateY(-150px);
   -ms-transform: translateY(-150px);
   transform: translateY(-150px);
   -ms-filter: &quot;progid: DXImageTransform.Microsoft.Alpha(Opacity=0)&quot;;
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view-first p {
   -webkit-transform: translateY(150px);
   -moz-transform: translateY(150px);
   -o-transform: translateY(150px);
   -ms-transform: translateY(150px);
   transform: translateY(150px);
   -ms-filter: &quot;progid: DXImageTransform.Microsoft.Alpha(Opacity=0)&quot;;
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.25s linear;
   -moz-transition: all 0.25s linear;
   -o-transition: all 0.25s linear;
   -ms-transition: all 0.25s linear;
   transition: all 0.25s linear;
	margin-bottom: 0;
	display: block !important;
}
.view-first:hover img {
   -webkit-transform: scale(1.1,1.1);
   -moz-transform: scale(1.1,1.1);
   -o-transform: scale(1.1,1.1);
   -ms-transform: scale(1.1,1.1);
   transform: scale(1.1,1.1);
}
.view-first .mask-button {
   -ms-filter: &quot;progid: DXImageTransform.Microsoft.Alpha(Opacity=0)&quot;;
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
transition: 0.75s;
-webkit-transition: 0.75s;
-moz-transition: 0.75s;
-o-transition: 0.75s;
}
.view-first:hover .mask {
   -ms-filter: &quot;progid: DXImageTransform.Microsoft.Alpha(Opacity=100)&quot;;
   filter: alpha(opacity=100);
   opacity: 1;
}
.view-first:hover h3,
.view-first:hover p,
.view-first:hover .mask-button {
   -ms-filter: &quot;progid: DXImageTransform.Microsoft.Alpha(Opacity=100)&quot;;
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
transition: 0.25s;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
}

.view-first:hover .mask-button {
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}

/* Common CSS */

.entry-content .mask,
.entry-conten .content {
   width: 290px;
   height: 125px;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.view .mask, .view .content {
	width: 290px;
	height: 125px;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
}
.entry-conten img {
   display: block;
   position: relative;
}
.entry-conten h3 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}

.mask h3:after {
	content: none !important;
}

.view-first h3 {
color: #555;
margin: 0 0 10px;
padding: 25px 15px 15px 15px;
background: rgba(255, 255, 255, 0.8);
font-size: 14px;
text-transform: capitalize;
font-weight: normal;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.entry-conten p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}

.mask-time {
	text-transform: uppercase;
	color: #fff;
	width: 145px;
	display: block;
	margin: 0 auto;
}

.mask-time .mask-btn {
	float: right;
	display: block;
	color: #fff;
	padding: .5px 5px;
	padding-bottom: 0;
	height: 22px;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.mask-time .updated {
	padding: 0 5px;
	margin-left: 5px;
	background: rgba(255, 255, 255, 0.8);
	color: #777;
}

.mask-meta {
	padding: 0 5px;
	background: rgba(255, 255, 255, 0.8);
	color: #777;
	display: block;
	width: 59px;
	height: 22px;
	float: left;
}

.view .mask-time {
	width: 120px !important;
}

.view .mask-time:before {
content: &quot;ON&quot;;
float: left;
margin-right: 8px;
}

.mask-time .date {
display: block !important;
float: left;
margin-right: 4px;
}

.mask-time .month {
display: block !important;
float: left;
}

a.mask-btn:before {
content: &quot;\e658&quot;;
font-size: 21px;
font-family: Pe-icon-7-stroke;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-weight: normal;
}
a.mask-btn:hover:before {
color: #000;
}

/* Cycle Slider */

#featured-slide {
	position: relative;
}

#featured-slide ul {
	width: 958px;
	height: 190px;
	background: none;
	background-image: none !important;
	background-color: none !important;
}

#featured-slide li:first-child { display: block;background: none; }

#featured-slide li {
	display: none;
	width: 958px;
	background: none;
	background-image: none !important;
	background-color: none !important;
}

#featured-slide img {
	overflow: hidden;
	z-index: 10;
}

#featured-slide .view-first h3:before {
	content: &quot;\e611&quot;;
	font-family: Pe-icon-7-stroke;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal;
	font-size: 1.4em;
	vertical-align: sub;
	margin-right: 4px;
	color: #999;
}

#label-widget2 .pager {
	bottom: 0;
	left: 0;
	display: block !important;
	opacity: 1 !important;
	position: relative;
	z-index: 9 !important;
}

#label-widget2 .pager a {
	line-height: 1em;
	text-decoration: none;
	float: left;
	padding: 1px 3.5px;
	font-size: 11px;
	margin-right: 7px;
	border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
background: #ddd;
color: #ddd;
}

#label-widget2 .pager a:hover, #slideshow .pager a:active {
	background: rgba(255, 255, 255, 1);
	color: #000;
}

#label-widget2 .pager a:last-child {
	margin: 0;
}

/*  Label Post Widget2 */
#label-post-wrapper {
	overflow: hidden;
}

#label-post-wrapper:hover {
	-webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 20px 0px;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	transition: 0.3s;
}

#label-widget2 {
	width: 1000px;
	margin: 0 auto;
	padding: 52px 21px;
	padding-bottom: 60px;
}

#label-widget2 h2.title {
	text-transform: uppercase;
	font-size: 25px;
}

#label-widget2 h2.title:after {
font-family: Pe-icon-7-stroke;
font-weight: normal;
margin-left: 10px;
font-size: 30px;
content: &quot;\e63d&quot;;
vertical-align: middle;
}

#label-widget2 h3, #label-widget2 p {
	width: 500px;
	position: relative;
}

#label-widget2 h3 {
	text-transform: capitalize;
}

#label-widget2 h3 a {
	color: #777;
}

#label-widget2 p {
	color: #777;
}

#featured-slide .view {
	width: 350px;
	height: 200px;
	float: right;
	margin-right: 4px;
	position: relative;
	cursor: default;
}

#featured-slide .view .mask {
width: 350px;
height: 150px;
margin: 0 auto;
z-index: 1000;
}

#featured-slide .view-first h3,
#featured-slide .view-first p {
width: 100% !important;
text-align: center;
}

#label-widget2 .label-thumbnail {
right: 0;
width: 350px;
height: 200px;
float: right;
overflow: hidden;
box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
}
#label-widget2 .label-thumbnail img {
width: 100%;
height: auto;
margin-top: 0;
padding: 0;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
transition: all 0.2s linear;
background: #FFF;
}
#label-widget2 .label-thumbnail img:hover {
cursor: pointer;
-webkit-transform: scale(1.1,1.1);
-moz-transform: scale(1.1,1.1);
-o-transform: scale(1.1,1.1);
-ms-transform: scale(1.1,1.1);
transform: scale(1.1,1.1);
transition: 0.70s;
-webkit-transition: 0.70s;
-moz-transition: 0.70s;
-o-transition: 0.70s;
opacity: .9;
}
#label-widget2 span.post-meta {
display: none;
}
#label-widget2 span.post-meta2 {
margin-top: 7px;
display: inline-block;
padding: 4px 0;
color: #999;
}
#label-widget2 span.post-meta2 a {
color: #777;
}

span.post-meta2 span.comments {
margin-left: 0;
}	

span.post-meta2 span.comments .comm-count:before {
content: &quot;\e668&quot;;
font-family: Pe-icon-7-stroke;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-weight: normal;
vertical-align: middle;
font-size: 1.2em;
margin-right: 5px;
}

span.post-meta2 span.month {
margin-left: 3px;
}
span.post-meta2 span.date:before {
content: &quot;\e660&quot;;
font-family: Pe-icon-7-stroke;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-weight: normal;
vertical-align: middle;
margin-left: 7px;
margin-right: 2px;
}

.post-meta2 .tag-name {
text-transform: capitalize;
}
.post-meta2 .tag-name:before {
content: &quot;\e675&quot;;
font-family: Pe-icon-7-stroke;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-weight: normal;
font-size: 1.1em;
vertical-align: middle;
line-height: .4;
margin-left: 11px;
margin-right: 6px;
}
.hidden {
opacity: 0;
}
#header-inner {
float: left;
width: 120px;
padding: 10px;
background: #fff;
margin-left: 92px;
position: relative;
}
#header-inner {
box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.shrink #header-inner {
box-shadow: none;
-webkit-box-shadow: none;
-moz-box-shadow: none;
background: none;
padding: 0;
margin-left: 7px;
width: auto !important;
margin-right: 10px;
}
.shrink #header-inner:before, .shrink #header-inner:after {
content: none;
}
.titlewrapper, 
.description {
position: relative;
z-index: 1000;
}
.sidebar h2 {
font-size: 15px;
color: #CAD2D3 !important;
}

#horizontalTab:hover {
-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
z-index: 1;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
transition: 0.3s;
}

.label-size:hover {
border-color: #fff !important;
}

.bar .post-labels a {
display: none;
border-bottom: 1px dotted #E7E7E7;
color: #BCC6C7;
margin: 0 2px;
}
.bar .post-labels a:first-child, 
.bar .post-labels a:nth-child(2) {
  display: inline-block !important;
}
.bar .post-labels a:hover {
border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.bar:hover {
-webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
-moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 20px 0px;
z-index: 1;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
transition: 0.3s;
}

div.switch-wrapper {
padding: 0 20px 20px 20px;
}

div.post-footer-line.post-footer-line-1 {
display: none;
}

h2.post-bar-title {
height: 50px;
overflow: hidden;
text-transform: uppercase;
padding-left: 32px;
}

div#sly-sidebar-top-wrapper {
display: none;
}

#sidebar-wrapper {
margin-left: 14px;
}
.switch {
margin:0 9px 0 0;
padding: 0;
margin-top: 10px;
height:35px;
width: 100%;
display: inline-block;
}
span.title-meta {
font-size: 17px;
line-height: 2;
text-align: center;
width: 100%;
display: block;
opacity: .7;
}

.switch-left {
width: 100%;
text-align: center;
display: block;
float: left;
padding-top: 7px;
font: 22px Open Sans, Arial, Cambria, Georgia, sans-serif;
font-weight: 600;
text-transform: uppercase;
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
-ms-transition: all 0.2s linear;
transition: all 0.2s linear;
}
.switch-left:after {
	font-family: Pe-icon-7-stroke;
	font-weight: normal;
	margin-left: 10px;
	font-size: 30px;
	content: &quot;\e63d&quot;;
	vertical-align: middle;
}
.switch-right {
    width: 45px;
    float:right;
	margin-right: -2px;
	margin-top: -8px;
	border: 2px solid transparent;
	display: inline-flex;
	display: -webkit-inline-box;
	padding: 6px 0 5px 0;
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
position: relative;
z-index: 5000;
}
.switch-right:hover {
	border: 2px solid rgba(255, 255, 255, 0.22);
	transition: 0.25s;
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
.switch-right .tooltip.tooltip-style1 {
width: 70px;
left: -10px !important;
}
.second {
	margin-left: 9px;
	display: block;
	height: 30px;
	width: 42px;
	padding: 0 0 31px 0;
	border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	line-height: 1;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.switch-right a.second:before {
	content: &quot;\e61b&quot;;
	font-family: Pe-icon-7-stroke;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal;
	font-size: 2em;
}
.switch a {
font-style: normal;
}
.switch a:hover {
color: #fff;
}
li.summ-button {
padding: 0px !important;
margin-top: 3px !important;
display: none;
}

/* CSS Bar */
.blog-summary .post.bar {
width: 92.5%;
height: 240px !important;
margin-bottom: 32px !important;
}
.blog-summary .post-body {
float: left;
width: 100% !important;
}
.blog-summary .post-summary {
float: left;
width: 290px;
}
.blog-summary .crop-containr {
border-radius: 0 !important;
-webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;
}
.blog-summary .post-summary {
border-radius: 0 !important;
-webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;
}
.blog-summary h2.post-bar-title {
display: block;
margin-top: 20px;
}
.blog-summary .post-footer-line.post-footer-line-3 {
margin: -41px 0 0 0 !important;
float: right !important;
}
.blog-summary .post-footer-line-3 {
width: 210px !important;
}
.post-footer-line-3 .button-more {
font-size: 13px;
padding: 0 5px;
color: #BCC6C7;
}
.blog-summary ul.socials {
padding-left: 5px !important;
}
.bar {
background-color: #fff;
float:left;
height: 407px;
list-style:none;
margin: 10px 21px 30px 21px;
position:relative;
text-align:center;
width: 290px;
border-bottom: none;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.bar h2 a {
    font-family: &#39;Open Sans&#39;, Arial, Cambria, Georgia, sans-serif;
	font-weight: 600;
    text-align: left;
	font-weight: normal;
	font-size: 17px;
}
.bar h2 a:hover {
	text-decoration: none;
}

.bar h2:before {
	content: &quot;\e67a&quot;;
	font-family: Pe-icon-7-stroke;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: normal;
	vertical-align: middle;
	display: inline-block;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1, 1);
	-ms-transform: scale(-1, 1);
	transform: scale(-1, 1);
	color: #CAD2D3;
	position: absolute;
	top: 8px;
	font-size: .7em;
	margin-left: -20px;
}

div.post-summary {
padding: 0 !important;
height: 240px;
overflow: hidden;
border-top-left-radius: 2px;
-webkit-border-top-left-radius: 2px;
border-top-right-radius: 2px;
-webkit-border-top-right-radius: 2px;
}

div.bar .post-body.entry-content {
margin: 0;
border-top-left-radius: 2px;
-webkit-border-top-left-radius: 2px;
-moz-border-top-left-radius: 2px;
border-top-right-radius: 2px;
-webkit-border-top-right-radius: 2px;
-moz-border-top-right-radius: 2px;
position: relative;
background: none;
height: 240px;
width: 290px;
padding:0;
display: inline-block;
padding-top: 0;
}

div.post-body ul {
margin: 0 !important;
padding: 0 !important;
}
.bar ul.socials {
	padding-top: 7px;
}

.bar ul.socials li .tooltip.tooltip-style1 {
	margin-right: -20px;
	left: 80%;
}
div.bar .post-meta {
	display: none;
}

h2.post-title.entry-title {
	display: none;
}

.bar .post-labels {
	padding: 0;
	margin: 0 20px 2px 32px !important;
	position: relative;
	float: left;
	text-align: left;
	width: 237px;
	display: block;
	line-height: normal;
	font-size: 13px;
	color: #999;
}
.bar .post-comment-link {
	font-size: 13px;
	float: left;
	display: block;
	position: relative;
	line-height: normal;
	margin: 0 20px 2px 32px !important;
	width: 237px;
	text-align: left;
}

span.post-author.vcard {
	display: none;
}
span.post-timestamp {
	display: none;
}
div.post-meta {
	background: none;
	border: none;
}

div.post-meta-bottom {
	margin-top: 10px;
	position: relative;
}

span.post-labels {
	float: left;
	line-height: normal;
}

h2.post-title.entry-title a:hover {
	-webkit-transition: 0.25s;
	-moz-transition: 0.25s;
	-o-transition: 0.25s;
}
span.post-backlinks.post-comment-link {
	display: none;
}

.post-comment-link:before {
	display: none;
}
div.post-meta a {
	color: #aaa;
}
span.post-comment-link {
	line-height: normal;
}

span.comt {
	margin-right: 5px;
}
span.dd {
	margin-left: 3px;
}

.bar .post-footer-line.post-footer-line-3 {
	position: relative;
	margin: 60px 0 0 0 ;
	width: 290px;
	float: left;
	display: block;
	box-shadow: inset 0 1px 3px #ddd;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

ul.socials {
	position: relative;
	font-size: 16px;
	padding: 4px 0 7px 17px !important;
	display: flex;
	border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
}

ul.socials li a:before {
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

li.in-facebook a, li.in-twitter a, li.google-plus a {
	padding: 11px;
	color: #BCC6C7;
}

li.in-facebook {
	float: left;
}
li.in-facebook a:hover {
	color: #5284EA;
}	

li.in-twitter, li.google-plus {
	float: left;
}

li.in-twitter a:hover {
	color: #6ED4FF;
}

li.google-plus a:hover {
	color: #D14735;
}

li.in-facebook a:before {
	content: &quot;\f230&quot;;
	font-family: &quot;Ionicons&quot;;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

li.in-twitter a:before {
	content: &quot;\f242&quot;;
font-family: &quot;Ionicons&quot;;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

li.google-plus a:before {
	content: &quot;\f234&quot;;
font-family: &quot;Ionicons&quot;;
speak: none;
font-style: normal;
font-weight: normal;
font-variant: normal;
text-transform: none;
text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.sly-author-mask {
  position: relative;
}

/* Others */

.ias_loader {
	margin: 0 auto !important;
	width: 100px;
}

iframe {
	display: none;
}

.fluid-width-video-wrapper iframe {
	display: block !important;
}

.bar embed {
	width: 290px;
	height: 240px;
	border-bottom: 2px solid $(theme.color);
	float: left;
	display: block !important;
}

.bar iframe {
	width: 290px;
	height: 240px;
	display: block !important;
}
div#header {
float: left;
}
div.search-full-post {
display: none;
}
#header-wrapper {
margin: 0 !important;
width: 100%;
}
header-inner {
float: left;
height: 90px;
margin-top: 55px !important;
}
div#main-wrapper {
width: 1000px;
margin: 0 auto;
position: relative;
padding-top: 20px;
}

#content-wrapper {
width: 100%;
background: #F7F8FC !important;
position: relative;
}
.featureticker-wrap {
width: 100%;
padding: 25px 0;
position: relative;
background: #fff;
margin-bottom: 0;
transition: 0.5s;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-o-transition: 0.5s;
}
.fea-wrap {
background: #fff;
position: relative;
padding: 40px 0 23px 0;
z-index: 1000;
}
.featureticker-wrap:hover {
box-shadow: 0 5px 7px rgba(0, 0, 0, 0.06);
-webkit-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.06);
-moz-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.06);
-ms-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.06);
-0-box-shadow: 0 5px 7px rgba(0, 0, 0, 0.06);
transition: 0.25s;
-webkit-transition: 0.25s;
-moz-transition: 0.25s;
-o-transition: 0.25s;
}
.featureticker-wrap .widget h2 {
text-align: center;
}
.component-fullwidth {
width: 100%;
height: 451px;
margin-bottom: 0;
}

.PopularPosts .item-content {
	border-top: 1px solid rgba(255, 255, 255, 0.3) !important;
}
.PopularPosts .widget-content ul li {
	width: 290px !important;
}
.PopularPosts .item-content {
	padding: 12px 0 12px 0 !important;
	width: 230px;
}
.PopularPosts .item-content:hover {
	border-bottom: 0 !important;
}
.post-meta {
	font-weight: normal;
}

#blog-pager-older-link {
	padding: 0 25px;
	line-height: 1;
}

.home-link {
	display: none;
}

/* Responsive Home 
===================*/
@media screen and (min-width:1100px) {
 #sly-carousel-warp {
  min-height: 298px;
 }
}
@media only screen
and (min-width:1089px) and (max-width:1100px) {
 #header-inner {
  margin-left: 38px !important;
 }
}
@media only screen
and (min-width:980px) and (max-width:1089px) {
 #header-inner {
 margin-left: 86px !important;
 }
 #top-modal .second {
  right: 5px !important;
 }
}

@media only screen
and (min-width:768px) and (max-width: 979px) {
 #header-inner {
  margin-top: 0px !important;
  width: 120px !important;
  margin-left: 55px !important;
  padding: 25px 15px !important;
 }
 .slidshow-thumbnail {
  width: 100% !important;
 }
 #main {
	width: 768px !important;
	padding-left: 10px !important;
 }
 #sidebar-wrapper {
	display: none;
 }

}

@media only screen
and (min-width:480px) and (max-width:767px) {
 .main-menu-wrapper {
  max-width: none !important;
 }
 #header-inner {
 padding-top: 45px !important;
  padding-bottom: 25px !important;
 }
 #mega-menu .collapse.in .nav.navbar-nav.nav-list {
	height: 325px !important;
	overflow: scroll;
 }
 .navbar-brand {
  position: absolute;
  top: -1px;
 }
 .blog-summary .post-meta-bottom,
 .blog-summary .post-footer-line.post-footer-line-3 {
  display: none !important;
 }
}

@media screen and (max-width:479px){
 .bar {
 margin-left: 14px !important;
 }
.blog-summary .post.bar {
 width: 290px !important;
 margin-left: 15px !important;
 display: block;
}
.titlewrapper {
 margin-left: -10px !important;
}
.switch-right:hover {
 border: 2px transparent !important;
}
.switch-right:hover {
  border: 0;
}
 #header-inner {
margin-top: 0px;
  margin-right: 5px;
  margin-left: 12px;
  padding: 0 !important;
  margin-left: 20px !important;
  padding: 35px 15px 25px 15px !important;
  width: 120px !important;
}
 #mega-menu .collapse.in {
  margin-left: 0;
  margin-right: 0 !important;
 }
.blog-summary h2.post-bar-title,
.blog-summary .post-meta-bottom,
.blog-summary .post-footer-line.post-footer-line-3 {
  display: none !important;
 }
}