/* Main Linklist Menu 
---------------------*/
.show .LinkList ul li {
float: left;
padding: 10px;
}
.show .LinkList ul li a {
color: #fff;
font-weight: 600;
}

/* MegMenu Style Css*/
#mega-menu {
position: relative;
z-index: 4000;
}
.navbar-brand {
float: left;
height: 50px;
font-size: 25px;
font-weight: normal;
font-family: Pacifico, Arial, Cambria, Georgia, Times, serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color: white; }
.navbar-brand a {
text-transform: initial;
}
.header.shrink .navbar-brand {
display: block !important;
float: left;
padding-left: 10px;
  margin-right: 7px;
}
#topmenu .social-links {
display: none;
}
.header.shrink .social-links {
display: block !important;
float: right !important;
margin-top: 5px !important;
z-index: 9000;
position: absolute;
right: 29px;
}
#topmenu .social-links a:before {
font-size: .9em !important;
}
.sly-social-icons .slyco-github {
  display: block;
}
#topmenu .social-links .linkedin {
margin-top: 1px;
display: block;
}
.navbar-brand .Header {
margin: 0;
}
.navbar-brand .Header img {
height: auto;
}
.shrink .navbar-brand .Header img {
height: 50px;
width: auto;
filter: brightness(2);
filter: brightness(0) invert(1);
-ms-filter: &#39;progid:DXImageTransform.Microsoft.Gradient(startColorStr=&quot;#ffffff&quot;, endColorStr=&quot;#000000&quot;, GradientType=1)&#39;;
}
.navbar-nav.nav-list {
position: relative;
}
.navbar-nav .open &gt; .sub-menu {
display: block; }

.navbar-default {
background-color: transparent;
border: 0; 
}
.dropdown.first .sub-menu {
  padding: 10px 0;
}
#fullwidth li {
  padding: 0;
}
.sly-megamenu-post {
  display: inline-block;
  padding: 30px;
  padding-bottom: 20px;
}
.sly-megamenu-post h3 {
  line-height: 1.2;
}
.sly-megamenu-post li {
display: block;
float: left;
width: 210px;
padding: 0;
}
.sly-megamenu-post li:first-child, 
.sly-megamenu-post li:nth-child(2) {
  margin-right: 29.5px;
}
.navbar-default .navbar-toggle {
background: whitesmoke;
border-color: #eaeaea;
cursor: pointer; 
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
background: #fff; 
}
.sly-megamenu-post .post-meta-top {
  display: none;
}
.sly-megamenu-post .view {
  width: 210px;
  height: 157px;
  overflow: hidden;
  margin-bottom: 12px;
}
.sly-megamenu-post .view img {
  width: 100%;
}
.sly-megamenu-post h3 a {
  text-transform: capitalize;
  font-size: 15px;
  color: #000;
}
.sly-megamenu-post .post-meta {
  margin-left: 0;
  margin-bottom: 0;
margin-top: 15px;
  display: block;
  overflow: visible;
}
.sly-megamenu-post .post-meta .time {
  margin-right: 10px;
}
.sly-megamenu-post .post-meta .time .date {
  margin-right: 5px;
}
.sly-megamenu-post .post-meta .time .month {
  text-transform: capitalize;
}
.sly-megamenu-post .post-meta .comm-count a {
  position: relative;
  background: #aaa;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  color: #fff;
  padding: 1px 6px 1px 5px;
  z-index: 1000;
}
.sly-megamenu-post .post-meta .comm-count a:before {
  position: absolute;
  top: 100%;
  left: 0;
  content: &#39;&#39;;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 3px 3px 0 0;
  border-color: #aaa rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  z-index: 0;
}
.sly-megamenu-post .label-name {
  display: none;
}
.navbar-default .navbar-toggle .icon-bar {
background: #212121; 
}
  .navbar-default .redq-menu-title {
    display: block;
    line-height: 1.4em;
    color: inherit;
    font-weight: 600;
    font-size: 17px;
    padding-left: 15px; }

  .navbar-default .redq-link-title {
    display: block;
    line-height: 1.4em;
    color: inherit;
    font-weight: bold; }

  .navbar-default span.redq-item-description {
    font-size: 9px;
    color: #BBB;
    text-transform: uppercase; }

  .navbar-default .navbar-nav &gt; li {
    padding: initial; }

    .navbar-default .navbar-nav &gt; li &gt; a {
      font-size: 16px;
      padding: 0 0 10px;
      border-bottom: 0; }

	@media (max-width: 767px){
	.navbar-default .navbar-nav &gt; li &gt; a {
        color: #666 !important;
        }
.navbar-collapse {
	background: #fff !important;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2) !important; 
    }
}

.navbar-default .navbar-nav &gt; .open &gt; a {
color: #575757;
background-color: #e7e7e7; 
}

.navbar-default .navbar-nav &gt; .open &gt; a:hover, .navbar-default .navbar-nav &gt; .open &gt; a:focus {
color: #575757;
background-color: #e7e7e7; 
}

.navbar-default .navbar-nav &gt; .active a {
background: transparent; 
}

.navbar-default .navbar-nav &gt; .active a:hover, .navbar-default .navbar-nav &gt; .active a:focus {
background: transparent; 
}

.link-item {
font-size: 15px;
text-transform: uppercase;
font-weight: bold;
line-height: 1;
font-family: Open Sans, Arial, Georgia, Cambria; 
}
.link-item.name-3 {
padding-bottom: 13px;
display: block;
}
a.dropdown-toggle .link-item {
border: 1px solid transparent;
padding: 10px 12px;
margin: 0 1px;
}

a.dropdown-toggle .link-item:hover {
border: 1px solid #fff;
}
.redq .thumbnails {
padding: 20px 10px !important; 
}
  
.redq .thumbnails ul {
list-style: none;
padding-left: 0; 
}

.redq .columns ul {
list-style: none;
padding-left: 0;
}
.redq .columns ul a {
padding: 2px 5px;
display: block; 
}
.redq .columns ul a:hover {
background:#f7f7f7
}
.redq .columns:last-child li {
border-right:0
}
.redq .dropdown-menu {
padding:0;
box-shadow:none;
border:0;
border-top:0;
border-style:solid;
line-height:24px
}

.redq .dropdown-menu a i {
margin-right:5px
}

.redq .dropdown-menu.spacing {
padding:20px 30px
}

.redq .dropdown-menu.spacing10 {
padding:10px 0
}

.redq .dropdown.redq-fullwidth .dropdown-menu {
width:100%;
left:0;
right:0;
background:none;
padding-bottom:15px;
z-index:9000
}
.header.shrink .dropdown.first {
padding-bottom: 13px;
}
.header.shrink .dropdown-menu {
top:51px!important
}

ul.dropdown-menu li.pictures {
padding-top:10px;
padding-left:10px;
padding-right:15px
}

li.pictures ul.col_2 {
padding-left:10px!important;
position:relative;
margin-top:16px
}

li.pictures ul.col_2 li {
padding-bottom:6px
}

ul.columns.col-lg-4-1 h4 {
padding-left:5px
}

.default-skin ul.sub-menu {
box-shadow:0 3px 2px rgba(0,0,0,0.1);
-webkit-box-shadow:0 3px 2px rgba(0,0,0,0.1);
-moz-box-shadow:0 3px 2px rgba(0,0,0,0.1)
}

.redq .dropdown.redq-fullwidth .dropdown-menu .columns {
padding-left:0;
padding-right:0
}

.redq .dropdown.redq-halfwidth {
position:relative
}

.redq .dropdown.redq-halfwidth .dropdown-menu {
left:0
}

.redq .dropdown.redq-halfwidth .dropdown-menu .columns {
padding-left:0;
padding-right:0
}

.redq .menu-content {
padding:20px 30px
}

.redq .menu-content:before,
.redq .menu-content:after {
display:table;
content:&quot;
line-height:0
}

.redq .menu-content:after {
clear:both
}

.redq .thumbnails {
list-style:none;
padding:0
}

.redq .thumbnail {
margin-bottom:0
}

.widget-list {
list-style:none;
padding-left:0
}

.widget-list li {
padding:0 5px
}

ul.widget-list.widget-best-sellers {
margin-top:22px
}

.widget-list li figure {
float:left;
width:6.5em;
margin:3px 20px 30px 0
}

.widget-list li figure img {
width:150px
}

.widget-list li .product-details {
margin-left:12em
}

.widget-list li figure img:hover {
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-o-transform:scale(1.1);
-ms-transform:scale(1.1);
transform:scale(1.1);
-webkit-transition:all .4s linear;
-moz-transition:all .4s linear;
-o-transition:all .4s linear;
-ms-transition:all .4s linear;
transition:all .4s linear
}

.widget-list li .product-details h5 {
font-size:14px
}

.widget-list li .product-cats {
display:block;
margin-bottom:3px
}

.widget-list li .product-cats a {
border-bottom:1px dotted #ddd
}

.dropdown-submenu {
list-style:none;
padding:0
}

.dropdown-submenu a {
padding:3px 15px;
display:block
}

.dropdown-submenu a:hover {
background:#f7f7f7;
text-decoration:none
}

.dropdown-submenu a:before {
content:&quot;
font-family:Pe-icon-7-stroke;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
font-weight:normal;
margin-right:7px
}

.show-grid [class^=col-] {
padding-top:10px;
padding-bottom:10px;
border-right:1px solid #ebebeb;
border-bottom:1px solid #ebebeb;
text-align:center
}

ul.nav .dropdown {
position:relative;
z-index:9000;
border:1px solid transparent
}
ul.sub-menu {
list-style:none;
padding-left:0;
position:absolute;
min-width:15.3em;
top:100%;
line-height:24px;
display:none;
background:white;
border:0;
border-style:solid;
border-top:0;
font-size:14px;
z-index:9000
}

ul.sub-menu li {
padding:0
}

ul.sub-menu a {
padding:10px 25px;
display:block;
color:#666
}

li.dropdown.has-caret {
border:0!important
}

li.has-caret:after {
content:&quot;
font-family:Pe-icon-7-stroke;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
font-weight:normal;
top:12px;
right:12px;
position:absolute
}

ul.sub-menu a:hover {
color:#fff;
text-decoration:none
}

ul.sub-menu ul.sub-menu {
left:100%;
top:0
}

ul.sub-menu &gt; li.menu-item &gt; ul.sub-menu {
display:none;
left:100%
}

ul.dropdown-menu h3.border {
border-bottom:1px solid #ebebeb;
margin:15px 35px;
padding-bottom:10px;
font-size:18px;
font-weight:normal;
text-transform:uppercase
}

ul.columns.col-lg-4.list-unstyled {
margin:0 19px!important;
display:block;
float:left;
overflow:hidden
}

ul.dropdown-menu .item-space {
margin-left:18px;
display:block
}

ul.columns.col-lg-4.list-unstyled h4 {
font-size:17px
}

ul.columns.col-lg-4-1.list-unstyled {
width:37%;
margin:0 3px 0 13px;
position:relative;
display:block;
float:left
}

.columns.col-lg-4-1.list-unstyled a {
text-transform:none
}

.col-lg-4-1 ul.col_2 {
width:50%;
float:left;
padding-right:10px
}

li.pictures .col-sm-2 h4 a {
font-size:14px
}

ul.col_2 a:before {
content:&quot;
font-family:Pe-icon-7-stroke;
-webkit-font-smoothing:antialiased;
-moz-osx-font-smoothing:grayscale;
font-weight:normal;
margin-right:7px
}

.col-lg-4 .img-crop {
height:150px;
width:270px;
overflow:hidden;
margin-bottom:12px
}

.col-lg-4 .img-crop img {
width:270px
}

.col-lg-4 .img-crop img:hover {
-webkit-transform:scale(1.1);
-moz-transform:scale(1.1);
-o-transform:scale(1.1);
-ms-transform:scale(1.1);
transform:scale(1.1);
-webkit-transition:all .4s linear;
-moz-transition:all .4s linear;
-o-transition:all .4s linear;
-ms-transition:all .4s linear;
transition:all .4s linear
}

.contact-menu {
padding:10px 25px 25px
}

.contact-menu form {
text-transform:none
}

input#ContactForm1_contact-form-submit {
margin-top:15px;
color:white
}

.contact-menu h3 {
font-weight:normal;
margin-top:10px;
margin-bottom:5px
}

.contact-menu input {
display:block;
margin-top:5px
}

.contact-menu input,.contact-menu textarea {
-webkit-box-shadow:0 1px 1px #efefef;
-moz-box-shadow:0 1px 1px #efefef;
box-shadow:0 1px 1px #efefef;
color:#000000;
border:1px solid #dddddd;
min-width:250px;
outline:none
}

.contact-menu textarea {
padding:7px
}

.desc {
display:block;
font-weight:300;
font-size:11px
}

.widget-video {
padding-left:15px
}

/* MegMenu Responsive */

@media (min-width: 768px) {  
  .navbar {
    line-height: 1.6;
    font-size: 12px; }
    
    .navbar &gt; .container .navbar-brand {
      margin-left: -7px;
      margin-top: -1px; }
  
.redq .dropdown.redq-fullwidth {
position: static; }
    
.header.shrink .navbar &gt; .container .navbar-brand {
margin-top: 15px;
margin-left: -2px;}
  
 .header.icons-no .nav &gt; li &gt; a .link-item {
    float: left; }
  
.header.icons-left .nav &gt; li &gt; a &gt; i {
    display: block;
    float: left; }
  
  .header.icons-left .nav &gt; li &gt; a .link-item {
    float: right; }
  
  .header.icons-right .nav &gt; li &gt; a .link-item {
    float: left; }
  
  .navbar-nav {
    text-align: right; }
    
    .navbar-nav &gt; li {
      float: none;
      text-align: left;
      display: inline-block; }
  
  .align-left .navbar-nav {
    text-align: left; }
  
  .align-center .navbar-nav {
    text-align: center; }
  
  .align-right .navbar-nav {
    text-align: right; }
  
  .navbar-default .navbar-collapse {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
  
  .navbar-default .navbar-nav &gt; li {
    padding: initial; }
  
  .icons-top .navbar-default .navbar-nav &gt; li {
    padding: 30px 15px; }
  
  .icons-top.shrink .navbar-default .navbar-nav &gt; li {
    padding: 12px 15px; }

  .navbar-default .navbar-nav &gt; li &gt; a {
    padding: 0; }

  .icons-top .navbar-default .navbar-nav &gt; li &gt; a {
    padding: 4px 0; }

  .redq .dropdown.redq-halfwidth .dropdown-menu {
    width: 585px; }

  .shrink .navbar-default .navbar-nav &gt; li {
    padding: initial; }

  .nav-caret {
    display: none; }

  .sub-caret {
    position: absolute;
    top: 39%;
    right: 15px; } }
@media (max-width: 767px) {

  .nav .sub-menu,
  .nav .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    box-shadow: none; }

  .default-skin .nav .open &gt; a, .default-skin .nav .open &gt; a:hover, .default-skin .nav .open &gt; a:focus {
    padding: 10px; }
  
  .navbar-nav {
    background: white; }
    
    .navbar-nav .open .dropdown-menu {
      border-width: 0 1px 1px;
      border-style: solid;
      border-color: #ebebeb; }
  
  .navbar-default .navbar-nav &gt; li {
    padding: 5px 60px 0px 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee; }

  .nav-caret {
    display: block;
    position: absolute;
    top: -5px;
    right: 15px;
    cursor: pointer; 
z-index: 3000;
  width: 100%;
}
.nav-caret i {
  float: right;
  padding-right: 20px;
}
    span.nav-caret:hover {
    color: #fff;
    border-radius: 10%;
    padding-bottom: 7px;
}
li.dropdown.horizontal .nav-caret {
  display: none;
}
  .sub-caret {
    display: none; } 
.sly-megamenu-post li {
  display: block;
  margin-bottom: 25px !important;
}
.default-skin ul.sub-menu {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

 }/* max-width: 767px End */

    .fa-plus-square:before {
    content: &quot;\e688&quot;;
    font-family: Pe-icon-7-stroke;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    padding: 10px;
    color: #666;
    vertical-align: -webkit-baseline-middle; }

/* MegMenu Settings  */

.small-wrapper ul {
  padding: 0;
  list-style: none;
  margin-left: 20px; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: transparent;
  box-shadow: none; }


ul#color-skins input[type=&quot;radio&quot;] {
  margin-top: 8px; }

@media (max-width: 767px) {
   
  .default-skin .navbar-default .navbar-toggle .icon-bar {
    background: #5BAADF; }
  
.default-skin .nav .open &gt; a, .default-skin .nav .open &gt; a:hover, .default-skin .nav .open &gt; a:focus {
    border-color: #5BAADF; }
    ul.sub-menu.my {
    margin: 0 !important;}
 }
@media (min-width: 768px) {
  
  .default-skin.header {
	 }

  .animate-null .nav.navbar-nav &gt; li:hover &gt; ul.dropdown-menu, .animate-null .nav.navbar-nav &gt; li:hover &gt; ul.sub-menu {
    display: block; }
  
  .animate-null .nav .sub-menu .dropdown:hover &gt; .sub-menu {
    display: block; }

  /* line 734, ../sass/menu-settings.scss */
  .zoomIn .nav.navbar-nav &gt; li:hover &gt; ul.dropdown-menu, .zoomIn .nav.navbar-nav &gt; li:hover &gt; ul.sub-menu {
    display: block;
    -webkit-animation: zoomIn 500ms;
    -moz-animation: zoomIn 500ms;
    -ms-animation: zoomIn 500ms;
    -o-animation: zoomIn 500ms;
    animation: zoomIn 500ms; }
/* line 750, ../sass/menu-settings.scss */
  .zoomIn .nav .sub-menu .dropdown:hover &gt; .sub-menu {
    display: block;
    -webkit-animation: zoomIn 500ms;
    -moz-animation: zoomIn 500ms;
    -ms-animation: zoomIn 500ms;
    -o-animation: zoomIn 500ms;
    animation: zoomIn 500ms; }

} /* - min-width: 768px-End */

.skin-block {
  width: 60px;
  height: 30px;
  margin: 5px 0; }


.default-bg {
  background: #FFF;
  border: 1px solid #ebebeb; }

/* Animation for MegMenu*/

.animated {
  -webkit-animation-duration: 1s;
-moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
-moz-animation-fill-mode: both;
  animation-fill-mode: both; }

/* line 23, ../sass/animate.scss */
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
-moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/* line 28, ../sass/animate.scss */
.animated.hinge {
  -webkit-animation-duration: 2s;
-moz-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes zoomIn {
  /* line 2885, ../sass/animate.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
    transform: scale(0.3); }

  /* line 2891, ../sass/animate.scss */
  50% {
    opacity: 1; } }

@-moz-keyframes zoomIn {
  /* line 2897, ../sass/animate.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
	-moz-transform: scale(0.3);
    transform: scale(0.3); }

  /* line 2904, ../sass/animate.scss */
  50% {
    opacity: 1; } }

@keyframes zoomIn {
  /* line 2897, ../sass/animate.scss */
  0% {
    opacity: 0;
    -webkit-transform: scale(0.3);
    -ms-transform: scale(0.3);
    transform: scale(0.3); }

  /* line 2904, ../sass/animate.scss */
  50% {
    opacity: 1; } }

/* line 2909, ../sass/animate.scss */
.zoomIn {
  -webkit-animation-name: zoomIn;
-moz-animation-name: zoomIn;
  animation-name: zoomIn; }

/* Bootstrap */

td,
th {
  padding: 0; }

[hidden] {
  display: none; }

/* line 179, ../sass/bootstrap.scss */
table {
  border-spacing: 0;
  border-collapse: collapse; }

/* line 251, ../sass/bootstrap.scss */
  .table {
    border-collapse: collapse !important; }


  .table-bordered th,
  .table-bordered td {
    border: 1px solid #ddd !important; } }

.img-responsive,
#mega-menu .thumbnail &gt; img,
#mega-menu .thumbnail a &gt; img,
.carousel-inner &gt; .item &gt; img,
.carousel-inner &gt; .item &gt; a &gt; img {
  display: block;
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 6px; }

#mega-menu .img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

.img-circle {
  border-radius: 50%; }

#mega-menu .container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

@media (min-width: 768px) { 
  #mega-menu .container {
    width: 768px; } }

@media (min-width: 992px) {
  #mega-menu .container {
    width: 992px; } }

@media (min-width: 1200px) {
 .header.shrink#mega-menu .container {
width: 1025px;
padding-left: 14px !important;
position: relative;
display: block;
z-index: 9000; 
}
.container.megamenu {
width: 750px !important;
background: #fff;
box-shadow: 0 3px 2px rgba(0,0,0,0.1);
-webkit-box-shadow: 0 3px 2px rgba(0,0,0,0.1);
-moz-box-shadow: 0 3px 2px rgba(0,0,0,0.1);
}
#mega-menu .container {
width: 1100px;
height: auto;
margin: 0 auto; } 
}
.container-fluid {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto; }

#mega-menu .row {
  margin-right: -15px;
  margin-left: -15px;
  }

#mega-menu .row p {
  text-transform: none;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: 0; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

/* line 863, ../sass/bootstrap.scss */
.col-xs-push-8 {
  left: 66.66666667%; }

/* line 866, ../sass/bootstrap.scss */
.col-xs-push-7 {
  left: 58.33333333%; }

/* line 869, ../sass/bootstrap.scss */
.col-xs-push-6 {
  left: 50%; }

/* line 872, ../sass/bootstrap.scss */
.col-xs-push-5 {
  left: 41.66666667%; }

/* line 875, ../sass/bootstrap.scss */
.col-xs-push-4 {
  left: 33.33333333%; }

/* line 878, ../sass/bootstrap.scss */
.col-xs-push-3 {
  left: 25%; }

/* line 881, ../sass/bootstrap.scss */
.col-xs-push-2 {
  left: 16.66666667%; }

/* line 884, ../sass/bootstrap.scss */
.col-xs-push-1 {
  left: 8.33333333%; }

/* line 887, ../sass/bootstrap.scss */
.col-xs-push-0 {
  left: 0; }

/* line 890, ../sass/bootstrap.scss */
.col-xs-offset-12 {
  margin-left: 100%; }

/* line 893, ../sass/bootstrap.scss */
.col-xs-offset-11 {
  margin-left: 91.66666667%; }

/* line 896, ../sass/bootstrap.scss */
.col-xs-offset-10 {
  margin-left: 83.33333333%; }

/* line 899, ../sass/bootstrap.scss */
.col-xs-offset-9 {
  margin-left: 75%; }

/* line 902, ../sass/bootstrap.scss */
.col-xs-offset-8 {
  margin-left: 66.66666667%; }

/* line 905, ../sass/bootstrap.scss */
.col-xs-offset-7 {
  margin-left: 58.33333333%; }

/* line 908, ../sass/bootstrap.scss */
.col-xs-offset-6 {
  margin-left: 50%; }

/* line 911, ../sass/bootstrap.scss */
.col-xs-offset-5 {
  margin-left: 41.66666667%; }

/* line 914, ../sass/bootstrap.scss */
.col-xs-offset-4 {
  margin-left: 33.33333333%; }

/* line 917, ../sass/bootstrap.scss */
.col-xs-offset-3 {
  margin-left: 25%; }

/* line 920, ../sass/bootstrap.scss */
.col-xs-offset-2 {
  margin-left: 16.66666667%; }

/* line 923, ../sass/bootstrap.scss */
.col-xs-offset-1 {
  margin-left: 8.33333333%; }

/* line 926, ../sass/bootstrap.scss */
.col-xs-offset-0 {
  margin-left: 0; }

@media (min-width: 768px) {
  /* line 930, ../sass/bootstrap.scss */
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  /* line 933, ../sass/bootstrap.scss */
  .col-sm-12 {
    width: 100%; }

  /* line 936, ../sass/bootstrap.scss */
  .col-sm-11 {
    width: 91.66666667%; }

  /* line 939, ../sass/bootstrap.scss */
  .col-sm-10 {
    width: 83.33333333%; }

  /* line 942, ../sass/bootstrap.scss */
  .col-sm-9 {
    width: 75%; }

  /* line 945, ../sass/bootstrap.scss */
  .col-sm-8 {
    width: 66.66666667%; }

  /* line 948, ../sass/bootstrap.scss */
  .col-sm-7 {
    width: 58.33333333%; }

  /* line 951, ../sass/bootstrap.scss */
  .col-sm-6 {
    width: 50%; }

  /* line 954, ../sass/bootstrap.scss */
  .col-sm-5 {
    width: 41.66666667%; }

  /* line 957, ../sass/bootstrap.scss */
  .col-sm-4 {
    width: 33.33333333%; }

  /* line 960, ../sass/bootstrap.scss */
  .col-sm-3 {
    width: 25%; }

  /* line 963, ../sass/bootstrap.scss */
  .col-sm-2 {
    width: 16.66666667%; }

  /* line 966, ../sass/bootstrap.scss */
  .col-sm-1 {
    width: 8.33333333%; }

  /* line 969, ../sass/bootstrap.scss */
  .col-sm-pull-12 {
    right: 100%; }

  /* line 972, ../sass/bootstrap.scss */
  .col-sm-pull-11 {
    right: 91.66666667%; }

  /* line 975, ../sass/bootstrap.scss */
  .col-sm-pull-10 {
    right: 83.33333333%; }

  /* line 978, ../sass/bootstrap.scss */
  .col-sm-pull-9 {
    right: 75%; }

  /* line 981, ../sass/bootstrap.scss */
  .col-sm-pull-8 {
    right: 66.66666667%; }

  /* line 984, ../sass/bootstrap.scss */
  .col-sm-pull-7 {
    right: 58.33333333%; }

  /* line 987, ../sass/bootstrap.scss */
  .col-sm-pull-6 {
    right: 50%; }

  /* line 990, ../sass/bootstrap.scss */
  .col-sm-pull-5 {
    right: 41.66666667%; }

  /* line 993, ../sass/bootstrap.scss */
  .col-sm-pull-4 {
    right: 33.33333333%; }

  /* line 996, ../sass/bootstrap.scss */
  .col-sm-pull-3 {
    right: 25%; }

  /* line 999, ../sass/bootstrap.scss */
  .col-sm-pull-2 {
    right: 16.66666667%; }

  /* line 1002, ../sass/bootstrap.scss */
  .col-sm-pull-1 {
    right: 8.33333333%; }

  /* line 1005, ../sass/bootstrap.scss */
  .col-sm-pull-0 {
    right: 0; }

  /* line 1008, ../sass/bootstrap.scss */
  .col-sm-push-12 {
    left: 100%; }

  /* line 1011, ../sass/bootstrap.scss */
  .col-sm-push-11 {
    left: 91.66666667%; }

  /* line 1014, ../sass/bootstrap.scss */
  .col-sm-push-10 {
    left: 83.33333333%; }

  /* line 1017, ../sass/bootstrap.scss */
  .col-sm-push-9 {
    left: 75%; }

  /* line 1020, ../sass/bootstrap.scss */
  .col-sm-push-8 {
    left: 66.66666667%; }

  /* line 1023, ../sass/bootstrap.scss */
  .col-sm-push-7 {
    left: 58.33333333%; }

  /* line 1026, ../sass/bootstrap.scss */
  .col-sm-push-6 {
    left: 50%; }

  /* line 1029, ../sass/bootstrap.scss */
  .col-sm-push-5 {
    left: 41.66666667%; }

  /* line 1032, ../sass/bootstrap.scss */
  .col-sm-push-4 {
    left: 33.33333333%; }

  /* line 1035, ../sass/bootstrap.scss */
  .col-sm-push-3 {
    left: 25%; }

  /* line 1038, ../sass/bootstrap.scss */
  .col-sm-push-2 {
    left: 16.66666667%; }

  /* line 1041, ../sass/bootstrap.scss */
  .col-sm-push-1 {
    left: 8.33333333%; }

  /* line 1044, ../sass/bootstrap.scss */
  .col-sm-push-0 {
    left: 0; }

  /* line 1047, ../sass/bootstrap.scss */
  .col-sm-offset-12 {
    margin-left: 100%; }

  /* line 1050, ../sass/bootstrap.scss */
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }

  /* line 1053, ../sass/bootstrap.scss */
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }

  /* line 1056, ../sass/bootstrap.scss */
  .col-sm-offset-9 {
    margin-left: 75%; }

  /* line 1059, ../sass/bootstrap.scss */
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }

  /* line 1062, ../sass/bootstrap.scss */
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }

  /* line 1065, ../sass/bootstrap.scss */
  .col-sm-offset-6 {
    margin-left: 50%; }

  /* line 1068, ../sass/bootstrap.scss */
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }

  /* line 1071, ../sass/bootstrap.scss */
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }

  /* line 1074, ../sass/bootstrap.scss */
  .col-sm-offset-3 {
    margin-left: 25%; }

  /* line 1077, ../sass/bootstrap.scss */
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }

  /* line 1080, ../sass/bootstrap.scss */
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }

  /* line 1083, ../sass/bootstrap.scss */
  .col-sm-offset-0 {
    margin-left: 0; } }
@media (min-width: 992px) {
  /* line 1088, ../sass/bootstrap.scss */
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  /* line 1091, ../sass/bootstrap.scss */
  .col-md-12 {
    width: 100%; }

  /* line 1094, ../sass/bootstrap.scss */
  .col-md-11 {
    width: 91.66666667%; }

  /* line 1097, ../sass/bootstrap.scss */
  .col-md-10 {
    width: 83.33333333%; }

  /* line 1100, ../sass/bootstrap.scss */
  .col-md-9 {
    width: 75%; }

  /* line 1103, ../sass/bootstrap.scss */
  .col-md-8 {
    width: 66.66666667%; }

  /* line 1106, ../sass/bootstrap.scss */
  .col-md-7 {
    width: 58.33333333%; }

  /* line 1109, ../sass/bootstrap.scss */
  .col-md-6 {
    width: 50%; }

  /* line 1112, ../sass/bootstrap.scss */
  .col-md-5 {
    width: 41.66666667%; }

  /* line 1115, ../sass/bootstrap.scss */
  .col-md-4 {
    width: 33.33333333%; }

  /* line 1118, ../sass/bootstrap.scss */
  .col-md-3 {
    width: 25%; }

  /* line 1121, ../sass/bootstrap.scss */
  .col-md-2 {
    width: 16.66666667%; }

  /* line 1124, ../sass/bootstrap.scss */
  .col-md-1 {
    width: 8.33333333%; }

  /* line 1127, ../sass/bootstrap.scss */
  .col-md-pull-12 {
    right: 100%; }

  /* line 1130, ../sass/bootstrap.scss */
  .col-md-pull-11 {
    right: 91.66666667%; }

  /* line 1133, ../sass/bootstrap.scss */
  .col-md-pull-10 {
    right: 83.33333333%; }

  /* line 1136, ../sass/bootstrap.scss */
  .col-md-pull-9 {
    right: 75%; }

  /* line 1139, ../sass/bootstrap.scss */
  .col-md-pull-8 {
    right: 66.66666667%; }

  /* line 1142, ../sass/bootstrap.scss */
  .col-md-pull-7 {
    right: 58.33333333%; }

  /* line 1145, ../sass/bootstrap.scss */
  .col-md-pull-6 {
    right: 50%; }

  /* line 1148, ../sass/bootstrap.scss */
  .col-md-pull-5 {
    right: 41.66666667%; }

  /* line 1151, ../sass/bootstrap.scss */
  .col-md-pull-4 {
    right: 33.33333333%; }

  /* line 1154, ../sass/bootstrap.scss */
  .col-md-pull-3 {
    right: 25%; }

  /* line 1157, ../sass/bootstrap.scss */
  .col-md-pull-2 {
    right: 16.66666667%; }

  /* line 1160, ../sass/bootstrap.scss */
  .col-md-pull-1 {
    right: 8.33333333%; }

  /* line 1163, ../sass/bootstrap.scss */
  .col-md-pull-0 {
    right: 0; }

  /* line 1166, ../sass/bootstrap.scss */
  .col-md-push-12 {
    left: 100%; }

  /* line 1169, ../sass/bootstrap.scss */
  .col-md-push-11 {
    left: 91.66666667%; }

  /* line 1172, ../sass/bootstrap.scss */
  .col-md-push-10 {
    left: 83.33333333%; }

  /* line 1175, ../sass/bootstrap.scss */
  .col-md-push-9 {
    left: 75%; }

  /* line 1178, ../sass/bootstrap.scss */
  .col-md-push-8 {
    left: 66.66666667%; }

  /* line 1181, ../sass/bootstrap.scss */
  .col-md-push-7 {
    left: 58.33333333%; }

  /* line 1184, ../sass/bootstrap.scss */
  .col-md-push-6 {
    left: 50%; }

  /* line 1187, ../sass/bootstrap.scss */
  .col-md-push-5 {
    left: 41.66666667%; }

  /* line 1190, ../sass/bootstrap.scss */
  .col-md-push-4 {
    left: 33.33333333%; }

  /* line 1193, ../sass/bootstrap.scss */
  .col-md-push-3 {
    left: 25%; }

  /* line 1196, ../sass/bootstrap.scss */
  .col-md-push-2 {
    left: 16.66666667%; }

  /* line 1199, ../sass/bootstrap.scss */
  .col-md-push-1 {
    left: 8.33333333%; }

  /* line 1202, ../sass/bootstrap.scss */
  .col-md-push-0 {
    left: 0; }

  /* line 1205, ../sass/bootstrap.scss */
  .col-md-offset-12 {
    margin-left: 100%; }

  /* line 1208, ../sass/bootstrap.scss */
  .col-md-offset-11 {
    margin-left: 91.66666667%; }

  /* line 1211, ../sass/bootstrap.scss */
  .col-md-offset-10 {
    margin-left: 83.33333333%; }

  /* line 1214, ../sass/bootstrap.scss */
  .col-md-offset-9 {
    margin-left: 75%; }

  /* line 1217, ../sass/bootstrap.scss */
  .col-md-offset-8 {
    margin-left: 66.66666667%; }

  /* line 1220, ../sass/bootstrap.scss */
  .col-md-offset-7 {
    margin-left: 58.33333333%; }

  /* line 1223, ../sass/bootstrap.scss */
  .col-md-offset-6 {
    margin-left: 50%; }

  /* line 1226, ../sass/bootstrap.scss */
  .col-md-offset-5 {
    margin-left: 41.66666667%; }

  .col-md-offset-4 {
    margin-left: 33.33333333%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-2 {
    margin-left: 16.66666667%; }

  .col-md-offset-1 {
    margin-left: 8.33333333%; }

  .col-md-offset-0 {
    margin-left: 0; } }
@media (min-width: 1200px) {

  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-11 {
    width: 91.66666667%; }

  .col-lg-10 {
    width: 83.33333333%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-8 {
    width: 66.66666667%; }

  .col-lg-7 {
    width: 58.33333333%; }

  .col-lg-6 {
    width: 39.4%;
    padding-top: 20px;}

  .col-lg-5 {
    width: 41.66666667%; }
  
  .col-lg-4 {
    width: 25%;
    margin: 0 25px; }
  
  .col-lg-3 {
    width: 22%;
    float: left;
    padding-top: 20px;}

  .col-lg-3 a {
	text-transform: none;
  }

   div.col-lg-3-1 {
    width: 36%;
    float: left;
    padding-top: 20px; }

	div.col-lg-3-1 h3.redq-menu-title {
	padding-left: 3px;
	}
  
  .col-lg-2 {
    width: 16.66666667%; }

  
  .col-lg-1 {
    width: 8.33333333%; }

 
  .col-lg-pull-12 {
    right: 100%; }

  
  .col-lg-pull-11 {
    right: 91.66666667%; }

  
  .col-lg-pull-10 {
    right: 83.33333333%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-8 {
    right: 66.66666667%; }

  .col-lg-pull-7 {
    right: 58.33333333%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-5 {
    right: 41.66666667%; }

  .col-lg-pull-4 {
    right: 33.33333333%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-2 {
    right: 16.66666667%; }

  .col-lg-pull-1 {
    right: 8.33333333%; }

  .col-lg-pull-0 {
    right: 0; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-push-11 {
    left: 91.66666667%; }

  .col-lg-push-10 {
    left: 83.33333333%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-8 {
    left: 66.66666667%; }

  .col-lg-push-7 {
    left: 58.33333333%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-5 {
    left: 41.66666667%; }

  .col-lg-push-4 {
    left: 33.33333333%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-2 {
    left: 16.66666667%; }

  .col-lg-push-1 {
    left: 8.33333333%; }

  .col-lg-push-0 {
    left: 0; }

  .col-lg-offset-12 {
    margin-left: 100%; }

  .col-lg-offset-11 {
    margin-left: 91.66666667%; }

  .col-lg-offset-10 {
    margin-left: 83.33333333%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-8 {
    margin-left: 66.66666667%; }

  .col-lg-offset-7 {
    margin-left: 58.33333333%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-5 {
    margin-left: 41.66666667%; }

  .col-lg-offset-4 {
    margin-left: 33.33333333%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-2 {
    margin-left: 16.66666667%; }

  .col-lg-offset-1 {
    margin-left: 8.33333333%; }

  .col-lg-offset-0 {
    margin-left: 0; } }

table {
  max-width: 100%;
  background-color: transparent; }

th {
  text-align: left; }

.table {
  width: 100%;
  margin-bottom: 20px; }

.table &gt; thead &gt; tr &gt; th,
.table &gt; tbody &gt; tr &gt; th,
.table &gt; tfoot &gt; tr &gt; th,
.table &gt; thead &gt; tr &gt; td,
.table &gt; tbody &gt; tr &gt; td,
.table &gt; tfoot &gt; tr &gt; td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd; }

.table &gt; caption + thead &gt; tr:first-child &gt; th,
.table &gt; colgroup + thead &gt; tr:first-child &gt; th,
.table &gt; thead:first-child &gt; tr:first-child &gt; th,
.table &gt; caption + thead &gt; tr:first-child &gt; td,
.table &gt; colgroup + thead &gt; tr:first-child &gt; td,
.table &gt; thead:first-child &gt; tr:first-child &gt; td {
  border-top: 0; }

.table .table {
  background-color: #fff; }

.table-condensed &gt; thead &gt; tr &gt; th,
.table-condensed &gt; tbody &gt; tr &gt; th,
.table-condensed &gt; tfoot &gt; tr &gt; th,
.table-condensed &gt; thead &gt; tr &gt; td,
.table-condensed &gt; tbody &gt; tr &gt; td,
.table-condensed &gt; tfoot &gt; tr &gt; td {
  padding: 5px; }

.table-bordered &gt; thead &gt; tr &gt; th,
.table-bordered &gt; thead &gt; tr &gt; td {
  border-bottom-width: 2px; }

/* line 1474, ../sass/bootstrap.scss */
table col[class*=&quot;col-&quot;] {
  position: static;
  display: table-column;
  float: none; }

table td[class*=&quot;col-&quot;],
table th[class*=&quot;col-&quot;] {
  position: static;
  display: table-cell;
  float: none; }

@media (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd; }

  .table-responsive &gt; .table {
    margin-bottom: 0; }

  .table-responsive &gt; .table &gt; thead &gt; tr &gt; th,
  .table-responsive &gt; .table &gt; tbody &gt; tr &gt; th,
  .table-responsive &gt; .table &gt; tfoot &gt; tr &gt; th,
  .table-responsive &gt; .table &gt; thead &gt; tr &gt; td,
  .table-responsive &gt; .table &gt; tbody &gt; tr &gt; td,
  .table-responsive &gt; .table &gt; tfoot &gt; tr &gt; td {
    white-space: nowrap; }

  .table-responsive &gt; .table-bordered {
    border: 0; }

  .table-responsive &gt; .table-bordered &gt; thead &gt; tr &gt; th:first-child,
  .table-responsive &gt; .table-bordered &gt; tbody &gt; tr &gt; th:first-child,
  .table-responsive &gt; .table-bordered &gt; tfoot &gt; tr &gt; th:first-child,
  .table-responsive &gt; .table-bordered &gt; thead &gt; tr &gt; td:first-child,
  .table-responsive &gt; .table-bordered &gt; tbody &gt; tr &gt; td:first-child,
  .table-responsive &gt; .table-bordered &gt; tfoot &gt; tr &gt; td:first-child {
    border-left: 0; }

  .table-responsive &gt; .table-bordered &gt; thead &gt; tr &gt; th:last-child,
  .table-responsive &gt; .table-bordered &gt; tbody &gt; tr &gt; th:last-child,
  .table-responsive &gt; .table-bordered &gt; tfoot &gt; tr &gt; th:last-child,
  .table-responsive &gt; .table-bordered &gt; thead &gt; tr &gt; td:last-child,
  .table-responsive &gt; .table-bordered &gt; tbody &gt; tr &gt; td:last-child,
  .table-responsive &gt; .table-bordered &gt; tfoot &gt; tr &gt; td:last-child {
    border-right: 0; }

  .table-responsive &gt; .table-bordered &gt; tbody &gt; tr:last-child &gt; th,
  .table-responsive &gt; .table-bordered &gt; tfoot &gt; tr:last-child &gt; th,
  .table-responsive &gt; .table-bordered &gt; tbody &gt; tr:last-child &gt; td,
  .table-responsive &gt; .table-bordered &gt; tfoot &gt; tr:last-child &gt; td {
    border-bottom: 0; } }

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  transition: opacity .15s linear; }

.fade.in {
opacity: 1; }

#mega-menu .collapse {
display: none; }

.header.shrink .collapse {
margin-top: 19px;
overflow-y: auto; }

.navbar-collapse.in {
overflow-y: auto;
}

#mega-menu .collapse.in {
display: block;
z-index: 3000;
position: relative; }

#mega-menu .collapse.in .nav.navbar-nav.nav-list {
padding-left: 0 !important;
display: block;
}

#mega-menu .collapsing {
position: relative;
height: 0;
overflow: hidden;
-webkit-transition: height .35s ease;
transition: height .35s ease; }

.dropdown {
position: relative; }

.dropdown-toggle:focus {
outline: 0; }

.redq-fullwidth a.dropdown-toggle {
  position: relative;
  z-index: 99999;
}

.dropdown-menu {
  position: absolute;
  top: 37px;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  }

.dropdown-menu.pull-right {
  right: 0;
  left: auto; }


.dropdown-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5; }

.dropdown-menu &gt; li &gt; a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap; }

/* line 3050, ../sass/bootstrap.scss */
.dropdown-menu &gt; li &gt; a:hover,
.dropdown-menu &gt; li &gt; a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5; }

/* line 3057, ../sass/bootstrap.scss */
.dropdown-menu &gt; .active &gt; a,
.dropdown-menu &gt; .active &gt; a:hover,
.dropdown-menu &gt; .active &gt; a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #428bca;
  outline: 0; }

/* line 3069, ../sass/bootstrap.scss */
.dropdown-menu &gt; .disabled &gt; a:hover,
.dropdown-menu &gt; .disabled &gt; a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false); }

/* line 3076, ../sass/bootstrap.scss */
.open &gt; .dropdown-menu {
  display: block; }

/* line 3079, ../sass/bootstrap.scss */
.open &gt; a {
  outline: 0; }

/* line 3082, ../sass/bootstrap.scss */
.dropdown-menu-right {
  right: 0;
  left: auto; }

/* line 3086, ../sass/bootstrap.scss */
.dropdown-menu-left {
  right: auto;
  left: 0; }

/* line 3090, ../sass/bootstrap.scss */
.dropdown-header {
  display: block;
  padding: 3px 20px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #999; }

/* line 3097, ../sass/bootstrap.scss */
.dropdown-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 990; }

/* line 3105, ../sass/bootstrap.scss */
.pull-right &gt; .dropdown-menu {
  right: 0;
  left: auto; }

/* line 3110, ../sass/bootstrap.scss */
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: &quot;&quot;;
  border-top: 0;
  border-bottom: 4px solid; }

/* line 3116, ../sass/bootstrap.scss */
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px; }

@media (min-width: 768px) {
  /* line 3122, ../sass/bootstrap.scss */
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto; }

  /* line 3126, ../sass/bootstrap.scss */
  .navbar-right .dropdown-menu-left {
    right: auto;
    left: 0; } }

/* line 3450, ../sass/bootstrap.scss */
.nav {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

/* line 3455, ../sass/bootstrap.scss */
.nav &gt; li {
  position: relative;
  display: block; }

/* line 3459, ../sass/bootstrap.scss */
.nav &gt; li &gt; a {
  position: relative;
  display: block;
  padding: 10px 15px; }


.nav &gt; li &gt; a:hover,
.nav &gt; li &gt; a:focus {
  text-decoration: none;
  background-color: #eee; }

/* line 3469, ../sass/bootstrap.scss */
.nav &gt; li.disabled &gt; a {
  color: #999; }

/* line 3473, ../sass/bootstrap.scss */
.nav &gt; li.disabled &gt; a:hover,
.nav &gt; li.disabled &gt; a:focus {
  color: #999;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent; }

.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5; }

.nav &gt; li &gt; a &gt; img {
  max-width: none; }

.navbar {
  position: relative;
  height: auto !important;
  min-height: 50px;
  margin-bottom: 20px; }

@media (min-width: 768px) {
 
  .navbar {
    border-radius: 4px; } }
@media (min-width: 768px) {
  
  .navbar-header {
    float: left; } }

.navbar-collapse {
	max-height: 340px;
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }


.navbar-collapse.in {
  overflow-y: auto; }

@media (min-width: 768px) {
  
  .navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none; }
  
  .navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important; }
  
  .navbar-collapse.in {
    overflow-y: visible; }
 
  .navbar-fixed-top .navbar-collapse,
  .navbar-static-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse {
    padding-right: 0;
    padding-left: 0; } }

.container &gt; .navbar-header,
.container-fluid &gt; .navbar-header,
.container &gt; .navbar-collapse,
.container-fluid &gt; .navbar-collapse {
  margin-right: -15px;
  }

@media (min-width: 768px) {
  /* line 3703, ../sass/bootstrap.scss */
  .container &gt; .navbar-header,
  .container-fluid &gt; .navbar-header,
  .container &gt; .navbar-collapse,
  .container-fluid &gt; .navbar-collapse {
    margin-right: 0;
    margin-left: 0; } }
/* line 3708, ../sass/bootstrap.scss */
.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 1px; }

@media (min-width: 768px) {
  /* line 3713, ../sass/bootstrap.scss */
  .navbar-static-top {
    border-radius: 0; } }
/* line 3718, ../sass/bootstrap.scss */
.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030; }

@media (min-width: 768px) {

  .navbar-fixed-top,
  .navbar-fixed-bottom {
    border-radius: 0; } }

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px; }


.navbar-fixed-bottom {
  bottom: 0;
  margin-bottom: 0;
  border-width: 1px 0 0; }


.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none; }

@media (min-width: 768px) {

  .navbar &gt; .container .navbar-brand,
  .navbar &gt; .container-fluid .navbar-brand {
    margin-left: -7px; } }

.navbar-toggle {
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1000; }

.shrink .navbar-toggle {
margin-top: 17px;
}

.navbar-toggle:focus {
  outline: none; }

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px; }

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px; }

@media (min-width: 768px) {

  .navbar-toggle {
    display: none; } }

.navbar-nav {
  margin: 7.5px -15px; }

.navbar-nav &gt; li &gt; a {
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px; }

@media (max-width: 767px) {
  
  .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent !important;
    border: 0;
    box-shadow: none !important; }
 
  .navbar-nav .open .dropdown-menu &gt; li &gt; a,
  .navbar-nav .open .dropdown-menu .dropdown-header {
    padding: 5px 15px 5px 25px; }
 
  .navbar-nav .open .dropdown-menu &gt; li &gt; a {
    line-height: 20px; }
  
  .navbar-nav .open .dropdown-menu &gt; li &gt; a:hover,
  .navbar-nav .open .dropdown-menu &gt; li &gt; a:focus {
    background-image: none; } }
@media (min-width: 768px) {
  
  .navbar-nav {
	float: left;
    margin: 0; }
  
  .navbar-nav &gt; li {
    float: left; }
  
  .navbar-nav &gt; li &gt; a {
    padding-top: 15px;
    padding-bottom: 15px; }
  
  .navbar-nav.navbar-right:last-child {
    margin-right: -15px; } }
@media (min-width: 768px) {
  /* line 3832, ../sass/bootstrap.scss */
  .navbar-left {
    float: left !important; }

  /* line 3835, ../sass/bootstrap.scss */
  .navbar-right {
    float: right !important; } }
/* line 3839, ../sass/bootstrap.scss */
.navbar-form {
  padding: 10px 15px;
  margin-top: 8px;
  margin-right: -15px;
  margin-bottom: 8px;
  margin-left: -15px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(255, 255, 255, 0.1); }

@media (min-width: 768px) {
  /* line 3851, ../sass/bootstrap.scss */
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle; }

  /* line 3856, ../sass/bootstrap.scss */
  .navbar-form .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle; }

  /* line 3861, ../sass/bootstrap.scss */
  .navbar-form .input-group &gt; .form-control {
    width: 100%; }

  /* line 3864, ../sass/bootstrap.scss */
  .navbar-form .control-label {
    margin-bottom: 0;
    vertical-align: middle; }

  /* line 3869, ../sass/bootstrap.scss */
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle; }

  /* line 3877, ../sass/bootstrap.scss */
  .navbar-form .radio input[type=&quot;radio&quot;],
  .navbar-form .checkbox input[type=&quot;checkbox&quot;] {
    float: none;
    margin-left: 0; }

  /* line 3881, ../sass/bootstrap.scss */
  .navbar-form .has-feedback .form-control-feedback {
    top: 0; } }
@media (max-width: 767px) {
  /* line 3886, ../sass/bootstrap.scss */
  .navbar-form .form-group {
    margin-bottom: 5px; } }
@media (min-width: 768px) {
  /* line 3891, ../sass/bootstrap.scss */
  .navbar-form {
    width: auto;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none; }

  /* line 3901, ../sass/bootstrap.scss */
  .navbar-form.navbar-right:last-child {
    margin-right: -15px; } }
/* line 3905, ../sass/bootstrap.scss */
.navbar-nav &gt; li &gt; .dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

/* line 3910, ../sass/bootstrap.scss */
.navbar-fixed-bottom .navbar-nav &gt; li &gt; .dropdown-menu {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

/* line 3914, ../sass/bootstrap.scss */
.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px; }

/* line 3918, ../sass/bootstrap.scss */
.navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px; }

/* line 3922, ../sass/bootstrap.scss */
.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px; }

/* line 3926, ../sass/bootstrap.scss */
.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px; }

@media (min-width: 768px) {
  /* line 3931, ../sass/bootstrap.scss */
  .navbar-text {
    float: left;
    margin-right: 15px;
    margin-left: 15px; }

  /* line 3936, ../sass/bootstrap.scss */
  .navbar-text.navbar-right:last-child {
    margin-right: 0; } }

/* line 4402, ../sass/bootstrap.scss */
#mega-menu .thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }

/* line 4414, ../sass/bootstrap.scss */
#mega-menu .thumbnail &gt; img,
#mega-menu .thumbnail a &gt; img {
  margin-right: auto;
  margin-left: auto; }

/* line 4420, ../sass/bootstrap.scss */
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #428bca; }

/* line 4423, ../sass/bootstrap.scss */
.thumbnail .caption {
  padding: 9px;
  color: #333; }

div.img-crop {
    height: 100px;
    width: 150px;
    overflow: hidden;
}

/* line 5619, ../sass/bootstrap.scss */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical &gt; .btn-group:before,
.btn-group-vertical &gt; .btn-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after {
  display: table;
  content: &quot;&quot;; }


.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.form-horizontal .form-group:after,
.btn-toolbar:after,
.btn-group-vertical &gt; .btn-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after {
  clear: both; }

/* line 5639, ../sass/bootstrap.scss */
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto; }

/* line 5650, ../sass/bootstrap.scss */
.hide {
  display: none !important; }

/* line 5653, ../sass/bootstrap.scss */
.show {
  display: block !important; }

/* line 5656, ../sass/bootstrap.scss */
.invisible {
  visibility: hidden; }

/* line 5659, ../sass/bootstrap.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

@media (max-width: 767px) {
  /* line 5683, ../sass/bootstrap.scss */
  .visible-xs {
    display: block !important; }

  /* line 5686, ../sass/bootstrap.scss */
  table.visible-xs {
    display: table; }

  /* line 5689, ../sass/bootstrap.scss */
  tr.visible-xs {
    display: table-row !important; }

  /* line 5693, ../sass/bootstrap.scss */
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important; } }
@media (min-width: 768px) and (max-width: 991px) {
  /* line 5698, ../sass/bootstrap.scss */
  .visible-sm {
    display: block !important; }

  /* line 5701, ../sass/bootstrap.scss */
  table.visible-sm {
    display: table; }

  /* line 5704, ../sass/bootstrap.scss */
  tr.visible-sm {
    display: table-row !important; }

  /* line 5708, ../sass/bootstrap.scss */
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  /* line 5713, ../sass/bootstrap.scss */
  .visible-md {
    display: block !important; }

  /* line 5716, ../sass/bootstrap.scss */
  table.visible-md {
    display: table; }

  /* line 5719, ../sass/bootstrap.scss */
  tr.visible-md {
    display: table-row !important; }

  /* line 5723, ../sass/bootstrap.scss */
  th.visible-md,
  td.visible-md {
    display: table-cell !important; } }
@media (min-width: 1200px) {
  /* line 5728, ../sass/bootstrap.scss */
  .visible-lg {
    display: block !important; }


  table.visible-lg {
    display: table; }
  
  tr.visible-lg {
    display: table-row !important; }
 
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important; } }
@media (max-width: 767px) {
  
  .hidden-xs {
    display: none !important; } }
@media (min-width: 768px) and (max-width: 991px) {
 
  .hidden-sm {
    display: none !important; } }
@media (min-width: 992px) and (max-width: 1199px) {
  
  .hidden-md {
    display: none !important; } }
@media (min-width: 1200px) {
  
  .hidden-lg {
    display: none !important; } }

.visible-print {
  display: none !important; }

@media print {
  
  .visible-print {
    display: block !important; }

  
  table.visible-print {
    display: table; }
  
  tr.visible-print {
    display: table-row !important; }
 
  th.visible-print,
  td.visible-print {
    display: table-cell !important; } }
@media print {

  .hidden-print {
    display: none !important; } }

/* End MegMenu Css*/ 